"*":
  "atom-beautify":
    _analyticsUserId: "abd766c9-e2da-467e-9a60-9c6d63a0e4e3"
  "autocomplete-plus": {}
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".pyc"
    ]
    telemetryConsent: "limited"
    themes: [
      "dark-flat-ui"
      "outlander-syntax"
    ]
  "dark-flat-ui": {}
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 17
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "20971bd1-1f37-b187-1a2a-9dbc996686e1"
  "file-icons":
    onChanges: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "highlight-line":
    enableBackgroundColor: false
    enableUnderline: true
  "highlight-selected": {}
  linter: {}
  "linter-javac": {}
  metrics:
    userId: "d67ba16cad16d5f1e19433f1f68da10d2730393d"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "release-notes":
    viewedVersion: "0.69.0"
  "spell-check": {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
